:root {
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --blue: hsl(223, 87%, 63%);
  --blue-hover: hsl(223, 87%, 70%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  padding: 0 1.75rem;
  max-width: 640px;
  margin: 0 auto;
  box-sizing: content-box;
  color: var(--very-dark-blue);
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  font-size: 0.75rem;
}

.header__logo {
  height: 24px;
}

.header__title {
  margin-top: 2rem;
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 300;
  color: var(--gray);
}

.text-emphasis {
  color: var(--very-dark-blue);
  font-weight: 700;
}

.header__text {
  margin-top: 1rem;
}

.form {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.form-group,
.form__input {
  width: 100%;
}

.form__input {
  padding: 0.625rem 2rem;
  border-radius: 28px;
  border: 1px solid var(--pale-blue);
  line-height: 1.25rem;
  font-family: inherit;
  transition: border 0.2s;
}

.form__input::placeholder {
  color: #b8c7ed;
}

.error-text {
  display: none;
  color: var(--light-red);
  margin-top: 0.125rem;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-style: italic;
}

.input-error + .error-text {
  display: block;
}

.form__btn {
  background-color: var(--blue);
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
  border-radius: 28px;
  padding: 0.75rem 0;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form__btn:hover {
  background-color: var(--blue-hover);
}

.main {
  margin-top: 4.5rem;
}

.footer {
  margin-top: 7.5rem;
  margin-bottom: 2.375rem;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.footer__item {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(76, 123, 243, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
  border-radius: 50%;
  font-size: 0.9375rem;
  transition: all 0.2s;
}

.footer__item:hover {
  background-color: var(--blue);
  color: #fff;
  border-color: var(--blue);
}

.footer__text {
  color: var(--gray);
  font-size: 0.625rem;
  margin-top: 1.625rem;
}

.input-error {
  border-color: var(--light-red);
  color: var(--light-red);
}

@media (min-width: 768px) {
  .header__logo {
    height: 39px;
  }

  .header {
    font-size: 1rem;
  }

  .header__title {
    margin-top: 2.5rem;
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .header__text {
    font-size: 1.25rem;
  }

  .form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
  }

  .form__input,
  .form__btn {
    font-size: 1rem;
  }

  .form-group {
    width: 421px;
  }

  .form__input {
    width: 421px;
    padding: 1.125rem 1.875rem;
    line-height: 1.25rem;
  }

  .form__btn {
    width: 200px;
    padding: 1.25rem 0;
    align-self: start;
  }

  .error-text {
    font-size: 0.75rem;
    text-align: left;
    margin-left: 1.875rem;
  }

  .main {
    margin-top: 5.875rem;
  }

  .footer {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
  }

  .footer__text {
    font-size: 0.75rem;
  }
}
